body {
	font-family: $font5 !important;
	background: $bgColor-7 !important;
	color: $color-8 !important;
}

h1 {
	color: $color-7 !important;
}

.btn a {
	padding: 10px 20px;
	background: $btncolor-10;
	color: $btncolor-11;
	&:hover {
		background: $btncolor-12;
	}
}

.box {
	background: $bgcolor-8;
	width: 50%;
	padding: 10px 20px;
	margin: 30px;
}