body  {
	background: #fff !important;
	color: #fff !important;
}

h1  {
	color: #fff !important;
}

.btn a {
	background: #fff !important;
	color: #fff !important;
}

.box {
	background: #fff !important;
	color: #fff !important;
}