/* -------------------------------- 
 Color Palette
-------------------------------- */
//Background Color 
$bgColor-1: #fff;  			//white
$bgColor-2: #070707;		//black
// $bgColor-3: #; 		//
// $bgColor-4: #; 		//

// Colors
$color-1: #fff;				//white
$color-2: #121112;			//black
$color-3: #ffea00;			//yellow

// btn Colors
$btncolor-1: #493829;		//dark brown
$btncolor-2: #D57500;  		//orange brown

$btncolor-3: #534747;   	//light brown
$btncolor-4: #cbbeaa;		//tan brown
$btncolor-5: #e6e3de;		//off white
$btncolor-6: #ffffff;		//white



body {
	font-family: $font3 !important;

}